<!DOCTYPE html>
<html <%- helmet.htmlAttributes.toString() %>>
  <head>
    <%- helmet.meta.toString() %>
    <%- helmet.title.toString() %>

    <% if (process.env.NODE_ENV !== 'development') { %>
      <link rel="stylesheet" href="<%= files['main.css'] %>">
    <% } %>

    <%- helmet.link.toString() %>
  </head>
  <body <%- helmet.bodyAttributes.toString() %>>
    <div id="app"><%- reactDOM %></div>

    <script src="<%= files['runtime.js'] %>"></script>
    <script src="<%= files['vendors.js'] %>"></script>
    <script src="<%= files['main.js'] %>"></script>
    <% if (process.env.NODE_ENV === 'development') { %>
      <script src="/reload/reload.js"></script>
    <% } %>
  </body>
</html>
