<!DOCTYPE html>
<html <%- helmet.htmlAttributes.toString() %>>
  <head>
    <%- helmet.meta.toString() %>
    <%- helmet.title.toString() %>

    <% css.forEach((file) => { %>
      <link rel="stylesheet" href="<%= file %>">
    <% }) %>

    <%- helmet.link.toString() %>

    <% asyncCss.forEach((file) => { %>
      <link rel="stylesheet" href="<%= file %>">
    <% }) %>

    <% asyncJs.forEach((file) => { %>
      <script src="<%= file %>"></script>
    <% }) %>
  </head>
  <body <%- helmet.bodyAttributes.toString() %>>
    <div id="app"><%- reactDOM %></div>

    <% js.forEach((file) => { %>
      <script src="<%= file %>"></script>
    <% }) %>
  </body>
</html>
