<!DOCTYPE html>
<html <%- helmet.htmlAttributes.toString() %>>
  <head>
    <%- helmet.meta.toString() %>
    <%- helmet.title.toString() %>

    <% if (process.env.NODE_ENV !== 'development') { %>
      <link rel="stylesheet" href="<%= files['main.css'] %>">
    <% } %>

    <%- helmet.link.toString() %>

    <% bundles.css.forEach((file) => { %>
      <link rel="stylesheet" href="<%= file %>">
    <% }) %>

    <% bundles.js.forEach((file) => { %>
      <script src="<%= file %>"></script>
    <% }) %>
  </head>
  <body <%- helmet.bodyAttributes.toString() %>>
    <div id="app"><%- reactDOM %></div>

    <script src="<%= files['runtime.js'] %>"></script>
    <script src="<%= files['main.js'] %>"></script>
  </body>
</html>
